
body {
	background-color: #212f45;
	font-family: monospace;
}

h2, a, td {
	color: white;
}

table {
	width: 100%;
	max-width: 876px;
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
}

.if1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 80%;
}

.if2 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 115%;
}

.vid1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 67%;
}

iframe, video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.sp {
	height: 10px;
}

.collapsible {
	margin-top: 10px;
	font-family: inherit;
	color: white;
	background-color: #485871;
	cursor: pointer;
	width: 100%;
	height: 24px;
	border: none;
	outline: none;
}

	.collapsible:hover {
		background-color: #5F6F89;
	}

.content {
	padding: 2px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

	.content p {
		text-align: left;
	}
