
body {
	background-color: #212f45;
	font-family: monospace;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
}

.container {
	margin: 8px;
}

h2, a, td {
	color: white;
}

table {
	width: 100%;
	max-width: 875px;
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	border: 0;
}

.if1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 80%;
}

.if2 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 115%;
}

.vid1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 67%;
}

.vid2 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 87%;
}

iframe, video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.sp {
	height: 10px;
}

.buttons {
	display: grid;
	grid-template-columns: 49.5% 49.5%;
	gap: 1%;
	font-size: 13px;
}

	.buttons .btn {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 13px;
		font-family: inherit;
		color: white;
		background-color: #485871;
		align-content: center;
		cursor: pointer;
		width: 100%;
		height: 24px;
		border: none;
		outline: none;
	}

		.buttons .btn:hover {
			background-color: #5F6F89;
		}

.slideshow {
	position: relative;
	display: flex;
	justify-content: center;
}

.slide {
	display: none;
}

	.slide.active {
		display: block;
	}

.prev, .next {
	cursor: pointer;
	position: absolute;
	align-content: center;
	top: 0;
	bottom: 0;
	width: 15%;
	padding: 16px;
	color: transparent;
	opacity: 0.7;
	font-weight: bold;
	font-size: 36px;
	transition: 0.6s ease;
	user-select: none;
}

.prev {
	left: 0;
	text-align: left;
	border-radius: 0 3px 3px 0;
}

	.prev:hover {
		background-image: linear-gradient(to left, transparent, rgba(0,0,0,0.6));
		color: white;
	}

.next {
	right: 0;
	text-align: right;
	border-radius: 3px 0 0 3px;
}

	.next:hover {
		background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.6));
		color: white;
	}

.fade {
	animation-name: fade;
	animation-duration: 1s;
}

@keyframes fade {
	from {
		opacity: .6
	}

	to {
		opacity: 1
	}
}

@media (max-width: 800px) {
	.prev, .next {
		padding: 12px;
		font-size: 20px;
	}
}

.links {
	font-size: 14px;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	gap: 0;
}

	.links .item {
		padding: 5px;
		margin: 0 2px;
	}

		.links .item:not(:last-child) {
			border-right: 1px solid white;
		}

	.links p {
		margin-top: 0px;
	}

@media (max-width: 800px) {
	.links {
		grid-template-columns: 1fr;
	}

		.links .item {
			margin: 5px 0;
			border-right: none !important;
		}
}

footer {
	position: sticky;
	top: 100%;
	background: #485871;
	color: white;
	text-align: center;
	padding: 8px;
	margin-top: 8px;
}
